@model MovieDirectorApp.Models.Movie

@{
    ViewBag.Title = "Details";
}

<h1>Movie Details</h1>

<div class="row movie-details">
    <p>
        @Html.DisplayNameFor(model => model.Title) :  @Html.DisplayFor(model => model.Title)
    </p>
    <p>
        @Html.DisplayNameFor(model => model.Genre.Type) : @Html.DisplayFor(model => model.Genre.Type)
    </p>
    <p>
        @Html.DisplayNameFor(model => model.Rating) :  @Html.DisplayFor(model => model.Rating)
    </p>
    <p>
        @Html.DisplayNameFor(model => model.Director.Name) :  @Html.DisplayFor(model => model.Director.Name)
    </p>
    <p>
        @Html.DisplayNameFor(model => model.ReleaseDate) : @Html.DisplayFor(model => model.ReleaseDate)
    </p>
    <p>
        @Html.DisplayNameFor(model => model.WonAward) : @Html.DisplayFor(model => model.WonAward)
    </p>
    <p>
        @Html.DisplayNameFor(model => model.RTScore) :  @Html.DisplayFor(model => model.RTScore)
    </p>
</div>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MovieID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
